<p>Hola <strong>{{userName}}</strong>,</p>
<p>¡Bienvenido/a a <strong>{{appName}}</strong>! Estamos encantados de tenerte con nosotros.</p>
<p>Esperamos que disfrutes de todas nuestras funcionalidades.</p>
<p>Saludos cordiales,</p>
<p>El equipo de {{appName}}.</p>